<html>
  <head>
    <title>Determind</title>

    <!-- Use correct sizing on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icon fonts -->
    <script src="https://kit.fontawesome.com/6d2d74bb8c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans|Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" height="45" alt="Determind">
      </a>
      <div class="btn-group" role="group" aria-label="User Pages">
        {% if current_user.is_authenticated %}
          <button id="user-dropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name Here</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
            <a class="dropdown-item" href="#">Course List</a>
            <a class="dropdown-item" href="#">Grades</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for("logout") }}">Log Out</a>
          </div>
        {% else %}
          <a role="button" class="btn btn-outline-primary" href="{{ url_for("login") }}">Log In</a>
          <a role="button" class="btn btn-outline-primary" href="{{ url_for("register") }}">Sign Up</a>
        {% endif %}
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-controls="false" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapsed">
        <ul class="navbar-nav float-right">
          <li class="nav-item"><a class="nav-link active" href="{{ url_for("home") }}">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for("quiz") }}">Learning Quiz</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for("about") }}">About</a></li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="style-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Learning Styles
            </a>
            <ul class="dropdown-menu" aria-labelledby="style-dropdown">
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="linguistic") }}">Linguistic Learner</a></li>
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="naturalistic") }}">Naturalistic Learner</a></li>
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="musical") }}">Musical Learner</a></li>
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="physical") }}">Physical Learner</a></li>
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="visual") }}">Visual Learner</a></li>
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="logical") }}">Logical Learner</a></li>
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="interpersonal") }}">Interpersonal Learner</a></li>
              <li class="dropdown-item"><a class="nav-link" href="{{ url_for("learningstyle", style="intrapersonal") }}">Intrapersonal Learner</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid my-4">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
