{% extends "layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="container-fluid my-4">
        <div class="row align-items-center">
          <div class="col-8">
            <h2>Name Here</h2>
            <span class="d-block">username</span>
            <a class="text-muted" href="#">email@example.com</a>
          </div>
          <div class="col text-right">
            <a class="text-secondary" href="#"><i class="fas fa-user-cog fa-2x"></i></a>
          </div>
        </div>
      </div>

      <!--
      <a role="button" class="btn btn-primary btn-lg btn-block" href="#">
        <h4>Take Our Learning Styles Quiz</h4>
        <span class="small">to receive personalized lessons and practice!</span>
      </a>
      -->
    </div>

    <div class="container-fluid px-0">
      <ul class="nav nav-tabs" id="student-tabs" role="tablist">
        <li class="pl-4 ml-4 nav-item">
          <a class="nav-link active" id="student-information-tab" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="true">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="student-courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Courses</a>
        </li>
      </ul>
      <div class="container-fluid px-0 mt-4">
        <div class="tab-content" id="student-tabs-content">
          <div class="tab-pane show active" id="information" role="tabpanel" aria-labelledby="student-information-tab">
            <div class="container">
              <dl class="row">
                <dt class="col-sm-3">Some Information</dt>
                <dd class="col-sm">This is information.</dd>
              </dl>
            </div>
          </div>
          <div class="tab-pane" id="courses" role="tabpanel" aria-labelledby="student-courses-tab">
            <div class="container-fluid">
              <div class="row">
                <div class="col-3">
                  <a role="button" href="{{ url_for('new_course') }}" class="btn btn-primary btn-block mb-3">
                    Create Course
                  </a>

                  <div class="list-group list-group" id="courses-tabs" role="tablist">
                    {% for course in courses %}
                      <a class="list-group-item list-group-item-action" id="courses-{{ course.id }}-tab" data-toggle="list" href="#courses-{{ course.id }}" role="tab" aria-controls="course-{{ course.id }}">{{ course.name }}</a>
                    {% endfor %}
                  </div>
                </div>
                <div class="col">
                  <div class="tab-content" id="courses-tabs-content">
                    {% for course in courses %}
                    <div class="tab-pane" id="courses-{{ course.id }}" role="tabpanel" aria-labelledby="courses-{{ course.id }}-tab">
                      <div class="container">
                        <a role="button" href="{{ url_for('add_student', id=course.id) }}" class="btn btn-primary btn-block mb-3">
                          Add Student
                        </a>
                        <a role="button" href="{{ url_for('new_lesson', id=course.id) }}" class="btn btn-primary btn-block mb-3">
                          Create Lesson
                        </a>

                        <div class="accordion" id="course-{{ course.id }}-accordion">
                          {% for lesson in lessons[course] %}
                          <div class="card">
                            <div class="card-header" id="course-{{ course.id }}-session-{{ lesson.index }}">
                              <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#course-{{ course.id }}-session-{{ lesson.index }}-collapse">
                                  Lesson {{ lesson.index }}
                                </button>
                              </h2>
                            </div>

                            <div id="course-{{ course.id }}-session-{{ lesson.index }}-collapse" class="collapse" aria-labelledby="course-{{ course.id }}-session-{{ lesson.index }}" data-parent="#course-{{ course.id }}-accordion">
                              <div class="card-body">
                                Session information goes here.
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
