{% extends "layouts/base.html" %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8-md col-12">
        <h2 class="text-center">Log In</h2>

        <form>
          <div class="form-group">
            <label for="username-input">Username</label>
            <input type="text" class="form-control" id="username-input" placeholder="Username...">
          </div>
          <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password...">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
