{% extends 'layouts/base.html' %}
{% block content %}
<div class="container mx-4">
  <h2 class="text-center mt-4">Learning Styles Quiz</h2>

  <form action="{{ url_for('results') }}" method='post'>
    {% for q in questions %}
      {% set number = q.questionNumber %}
      {% set question = q.question %}
      {% set answers = [q.answer1, q.answer2] %}
      {% include 'includes/single_choice_question.html' %}
    {% endfor %}
    <input type="submit" class="btn btn-primary btn-lg"></input>
  </form>
</div>
{% endblock content %}
