{% extends "layouts/base.html" %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8-md col-12">
        <h2 class="text-center">Log In</h2>

        <form>
          <div class="form-group">
            <label for="type-input">Account Type</label>
            <select class="form-control" id="type-input">
              <option>Student</option>
              <option>Instructor</option>
            </select>
          </div>
          <div class="form-group">
            <label for="username-input">Username</label>
            <input type="text" class="form-control" id="username-input" placeholder="Username...">
          </div>
          <div class="form-group">
            <label for="email-input">Email</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email...">
          </div>
          <div class="form-group">
            <label for="name-input">Name</label>
            <input type="text" class="form-control" id="name-input" placeholder="Name...">
          </div>
          <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password...">
          </div>
          <div class="form-group">
            <label for="password-confirmation-input">Password Confirmation</label>
            <input type="password" class="form-control" id="password-confirmation-input" placeholder="Confirm password...">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
