{% extends "layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="container-fluid my-4">
        <div class="row align-items-center">
          <div class="col-8">
            <h2>Name</h2>
            <span class="d-block">username</span>
            <a class="text-muted" href="#">email@example.com</a>
          </div>
          <div class="col text-right">
            <a class="text-secondary" href="#"><i class="fas fa-user-cog fa-2x"></i></a>
          </div>
        </div>
      </div>

      <!--
      <a role="button" class="btn btn-primary btn-lg btn-block" href="#">
        <h4>Take Our Learning Styles Quiz</h4>
        <span class="small">to receive personalized lessons and practice!</span>
      </a>
      -->
    </div>

    <div class="container-fluid px-0">
      <ul class="nav nav-tabs" id="student-tabs" role="tablist">
        <li class="pl-4 ml-4 nav-item">
          <a class="nav-link active" id="student-information-tab" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="true">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="student-courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Courses</a>
        </li>
      </ul>
      <div class="container-fluid px-0 mt-4">
        <div class="tab-content" id="student-tabs-content">
          <div class="tab-pane show active" id="information" role="tabpanel" aria-labelledby="student-information-tab">
            <div class="container">
              <dl class="row">
                <dt class="col-sm-3">Some Information</dt>
                <dd class="col-sm">This is information.</dd>
              </dl>
            </div>
          </div>
          <div class="tab-pane" id="courses" role="tabpanel" aria-labelledby="student-courses-tab">
            <div class="container-fluid">
              <div class="row">
                <div class="col-3">
                  <div class="list-group list-group" id="courses-tabs" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="courses-1-tab" data-toggle="list" href="#courses-1" role="tab" aria-controls="course-1">Course 1</a>
                    <a class="list-group-item list-group-item-action" id="courses-2-tab" data-toggle="list" href="#courses-2" role="tab" aria-controls="course-2">Course 2</a>
                    <a class="list-group-item list-group-item-action" id="courses-3-tab" data-toggle="list" href="#courses-3" role="tab" aria-controls="course-3">Course 3</a>
                    <a class="list-group-item list-group-item-action" id="courses-4-tab" data-toggle="list" href="#courses-4" role="tab" aria-controls="course-4">Course 4</a>
                    <a class="list-group-item list-group-item-action" id="courses-5-tab" data-toggle="list" href="#courses-5" role="tab" aria-controls="course-5">Course 5</a>
                  </div>
                </div>
                <div class="col">
                  <div class="tab-content" id="courses-tabs-content">
                    <div class="tab-pane show active" id="courses-1" role="tabpanel" aria-labelledby="courses-1-tab">
                      <div class="container">
                        <div class="accordion" id="course-1-accordion">
                          <div class="card">
                            <div class="card-header" id="course-1-session-1">
                              <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#course-1-session-1-collapse">
                                  Session 1
                                </button>
                              </h2>
                            </div>

                            <div id="course-1-session-1-collapse" class="collapse" aria-labelledby="course-1-session-1" data-parent="#course-1-accordion">
                              <div class="card-body">
                                Session information goes here.
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header" id="course-1-session-2">
                              <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#course-1-session-2-collapse">
                                  Session 2
                                </button>
                              </h2>
                            </div>

                            <div id="course-1-session-2-collapse" class="collapse" aria-labelledby="course-1-session-2" data-parent="#course-1-accordion">
                              <div class="card-body">
                                Session information goes here.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="courses-2" role="tabpanel" aria-labelledby="courses-2-tab">
                    </div>
                    <div class="tab-pane" id="courses-3" role="tabpanel" aria-labelledby="courses-3-tab">
                    </div>
                    <div class="tab-pane" id="courses-4" role="tabpanel" aria-labelledby="courses-4-tab">
                    </div>
                    <div class="tab-pane" id="courses-5" role="tabpanel" aria-labelledby="courses-5-tab">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
