{% extends "layouts/base.html" %}
{% block content %}
      <h2 class="text-center mt-4">Learning Style</h2>

      <p>
        <span class="h5">Also Known As:</span>
        Another Name, A Third Name
      </p>

      <h5>Description</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum orci sed tincidunt dictum. Cras malesuada sed nisl et pharetra. Ut ornare dignissim purus vitae finibus. Duis dui lorem, volutpat nec semper vel, eleifend quis leo. Nulla tincidunt diam vel dolor ornare, pulvinar malesuada risus iaculis. Maecenas finibus purus sed nisl pulvinar eleifend. Vivamus sit amet placerat turpis. Nam non lobortis nibh.

        Donec ex nulla, mollis id orci quis, consequat mollis lectus. Aenean vestibulum vel eros nec efficitur. Praesent suscipit accumsan felis sit amet ornare. Maecenas nulla ligula, aliquet eget lacus et, scelerisque dignissim augue. Praesent convallis non leo vel tristique. Integer sodales, orci eu consectetur tincidunt, neque neque ultrices tortor, in lacinia lacus velit sit amet felis. Phasellus semper nisi vel massa tempus, nec ultricies lacus venenatis. Pellentesque commodo aliquam mauris ut suscipit. Phasellus ex lacus, tempus sit amet finibus eget, porta non purus. Vestibulum consectetur porttitor elementum. Suspendisse potenti. Suspendisse bibendum congue risus, id bibendum dui facilisis quis. Quisque sollicitudin sed purus non venenatis.
      </p>

      <h5>Traits to Look For</h5>
      <ul>
        <li>This is the first trait you might exhibit.</li>
        <li>This is the second trait you might exhibit.</li>
        <li>This is the third trait you might exhibit.</li>
        <li>This is the fourth trait you might exhibit.</li>
        <li>This is the fifth trait you might exhibit.</li>
      </ul>
{% endblock content %}
