{% extends "layouts/base.html" %}
{% block content %}
  <div class="mx-4">
      <h2 class="text-center mt-4">{{ style.name }}</h2>

      <p>
        <span class="h5">Also Known As:</span>
        {{ style.alternates }}
      </p>

      <h5>Description</h5>
      <p>
        {{ style.description }}
      </p>

      <h5>Traits to Look For:</h5>
      <ul>
        {% set traits = style.traits.split(';') %}
        {% for trait in traits %}
          <li>{{ trait.strip() }}</li>
        {% endfor %}
      </ul>
    <div>
{% endblock content %}
